<div class="answers">
<%= @search %>
<br>
<p>- You</p>
</div>

<div class="answers" id="coach-answer">
<strong><%= @coach_answer %></strong>
<br>
<p>-Your Coach</p>
</div>
<p class= "link"><%= link_to "Ask Another Question", ask_path %></p>
